:root {
  --pico-font-family: 'Gravity';
  --pico-font-weight: 300;
  --pico-font-size: 15px;
  --pico-border-radius: 10px;
  --pico-ins-color: #008fbb !important;
}

strong {
  font-weight: 350;
}

h2 {
  font-weight: 350;
  font-size: larger;
}

h2,
.uppercase {
  text-transform: uppercase;
}

ul {
  padding-left: 10px;
}

ul li {
  list-style: none;
}

dialog article {
  text-align: center;
}

dialog article header {
  text-align: left;
}

.text-highlight {
  font-size: 1.15em;
}

.text-center {
  text-align: center;
}

.copyright {
  font-size: medium;
  font-weight: 250;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social-icon {
  font-size: large;
  cursor: pointer;
  margin: 4px;
}

.qr-code {
  border: 5px solid #fff;
  border-radius: 5px;
  width: 200px;
  margin: 20px;
}
